name: CI Pipeline

on:
  push:
    branches:
      - develop
  push:
    tags:
      - qa-v*
      - prod-v*

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Image
        run: |
          docker build -t maheel/python-cicd:${{ github.sha }} ./app
          docker tag maheel/python-cicd:${{ github.sha }} maheel/python-cicd:latest
          docker push maheel/python-cicd:${{ github.sha }}
          docker push maheel/python-cicd:latest
